.PostThree{
    
    padding-bottom: 30px;
    margin-left: 5px;
    border-radius: 10px;
    float: left;
    width: 65%;
    justify-content: left;
    border: 2px solid ;
    margin-right: 5px;
    margin-bottom: 5PX;
}
.PostThreeTitle{
    font-family:fantasy;
    font-weight: lighter;
}
.PostThreeImg{
    
   
    margin-bottom: 10px;
    width: 100%;
  
    
}
.PostThreeBody{
    line-height: 2em;
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.PostThreeDate{
    margin-bottom: 10px;
    font-size: large;
}
.PostThreeAuthor{
    margin-bottom: 10px;
    font-size: large;
}
